.item {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.item p {
    margin: 10px 0;
    font-size: 18px;
}

.item .nombre {
    font-weight: bold;
}

.item .price {
    background-color: #ffcc00;
    color: #333;
    border: 2px solid #ffcc00;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
}
